* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 18px;
}

.calculator-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 5px;
  width: 400px;
}

.calculator-box .display {
  height: 100px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  font-size: 28px;
}

.calculator-box .display div:first-child {
  align-self: flex-start;
}

.calculator-box .display div:last-child {
  font-size: 36px;
}

.calculator-box .btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 20px 8px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
}

.delete-btn {
  background-color: #e76862;
}

.clear-btn {
  background-color: aqua;
}

.line button {
  width: 25%;
}

.first-line button {
  width: 50%;
}

.line {
  display: flex;
  gap: 5px;
}
